<p style="text-indent:2em; text-align:left;">To download a csv of partnership data: Navigate to "View roster" on the nav bar and at the bottom of the page there is a blue button that says "Export table".  This should start a download of a csv file of the partnershipdata.<p>

<p style="text-indent:2em; text-align:left;">To remove partnerships: To reset partnerships for a new project or class, navigate to "View roster" on the nav bar and at the bottom of the page there is a red button that says "Clear all Partnerships". (This will reset all partnerships so be sure to export a copy of the partnership data first.) </p>
<br><br>
To report Bugs email us at xyz@uci.edu. or go to URL.com/bug