<p style="text-indent:2em;">To partner: Navigate to "Find a partner" on the nav bar and locate your desired partner's name. 
If you wish you may view a partner's info. Click on their email address to view their profile page. You can see their picture, and last login time to give you an idea if their account is still active. 
Click on "Request Partner" button in your partners table row to the right of their name to partner. 
To verify you have the right person, you can navigate to "Find a partner" or "Home" and both will notify you of your current partner status and their name.<br><br></p>

<p style="text-indent:2em;">To remove partner: The "Find a partner" page will change when you have a partner to "Undo".  This button will remove the partnership between the two of you if you clicked on the wrong person or need to change partners.<br><br></p>

Unable to partner? To report Bugs email us at xyz@uci.edu. or go to URL.com/bug