<span style="font-size:50px; font-weight:bold;"><span class="glyphicons glyphicons-scale-classic" style="font-size:60px"></span>&emsp;Evaluations</span>
	<% if true %>
		<%= render 'evaluations/not_implemented' %>
	<% else %>
		<%= render 'evaluations/implemented' %>
	<% end %>