  <tbody>
      <% current_user.groups.each do |group| %>
          <% case @current_user.role %>
          <% when 0 %>
            <tr>
                  <td><%= group.id %></td> 
                  <td class="collapsable"><%= group.name %></td>  
                 
             </tr>
          <% end %>
</tbody>
      <% end %>
      </div>
    </h2>