<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title"><span class="glyphicons glyphicons-notes-2"></span>&emsp;&emsp;Current Groups</h2>
  </div>
  <div class="panel-body" style= "<%= 'padding:1px;' if !current_user.groups.empty?%>">
	<%if current_user.groups.empty? %>
			<span style="font-weight:bold">Sorry, you don't have any groups yet!</span>
	<% else %>
	  <% current_user.groups.each do |group| %>
			<center>
		  		<% @group = group%>
					<%= render 'groups/profile', group: @group %><br>
			</center>
  	<% end %>
	<% end %>
</div>
</div>

 