<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><span class="glyphicons glyphicons-notes-2"></span>&emsp;&emsp;Current Groups</h2>
  </div>
  <div class="panel-body">
	<%if current_user.groups.empty?%>
		<div style= "padding:0px 0px 20px 25px;">
			<span style="font-size:25px; font-weight:bold; ">Sorry,</span>
			<span style="font-size:20px; font-weight:normal; "> it looks like you don'thave any groups yet!</span>
		</div>
	<% else %>

	  <% current_user.groups.each do |group| %>
			<center>
			 	<div class="content-box" style= "padding:10px 10px 10px 10px; width:90%;">
		  		<% @group = group%>
					<%= render 'groups/profile', group: @group %>
				</div><br>
			</center>
  	<% end %>
	<% end %>
</div>
</div>

 