<div class="jumbotron" style= "padding:26px;"><h1 style="font-size:40px; font-weight:bold;"><center>Current Groups</center></h1><br><br>
<%if current_user.groups.empty?%>
	<div style= "padding:0px 0px 0px 25px;"><span style="font-size:25px; font-weight:bold; ">Sorry,</span><span style="font-size:20px; font-weight:normal; "> it looks like you don't
    have any groups yet!</span></div>
<% else %>

  <% current_user.groups.each do |group| %>
	 	<div  class="jumbotron">
  		<% @group = group%>
		<%= render 'groups/profile', group: @group %></div><br>
  <% end %>
<% end %>



		</div>

 