<br><div style="padding: 10px  15px 10px 15px; background-color: #f9fbfb;
  border: 1px solid #d6d6d6; border-radius: 4px;-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);"><h1 style="font-size:40px; font-weight:bold;"><center>Notifications</center></h1>

<% case current_user.role %>
<% when 0 %>
	<% current_user.projects.uniq.each do |project| %>	
			<%= render 'layouts/requests', project: project %>
	<% end %>
<% when 1..2 %>
<% current_user.courses.each do |course|%>
	<% if course.projects.empty?%>
	<div style="padding: 10px  15px 10px 15px; background-color: #f9fbfb;
		  border: 1px solid #d6d6d6; border-radius: 4px;-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);"><h3 style="font-size:20px; font-weight:bold;"><center><%= link_to course.course_title, projects_path %></center></h3>
		  <table>
			  <tr style= "background-color:#ED8080;"><td colspan="6"><b>Alert:</b> There is no active project for this course. Students are not able to partner up.  <%=  link_to "<span class=\"glyphicon glyphicon-plus\"></span>&nbsp;&nbsp;Add New Project".html_safe,  {:action => 'new', controller: 'projects'}, class: "btn btn-primary btn-xs", :style=>"float:right;margin-bottom:10px;" %></tr></td>
			</table>
	</div>
	<%end%><%end%>

<% when 3 %>

<% Courses.all.each do |course|%>
	<% course.projects.empty?%>
	<div style="padding: 10px  15px 10px 15px; background-color: #f9fbfb;
		  border: 1px solid #d6d6d6; border-radius: 4px;-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);"><h3 style="font-size:20px; font-weight:bold;"><center><%= project.name %></center></h3>
			
	</div>
<% end %>
<% end %></div>