<% if course.projects.empty?%>
    <div style= "text-align:left;white-space:normal;margin:4px;", class= "btn alert-danger" data-toggle="modal" data-target="#create-<%= course.id%>">
      <span class="glyphicons glyphicons-warning-sign"></span>
      <span style="font-size:18px;">&ensp;Alert:</span></span>
      <span style="font-size:13px;">There is no active project for <%= course.course_title %>.<br>
        Students are not able to partner up.</span></div><% @notifications = true %>
    <%= render template: "projects/modals/new-project", locals: {course: course}%>
<% end %>