<br><div class="jumbotron" style= "padding:20px;"><h1 style="font-size:40px; font-weight:bold;"><center>Notifications</center></h1>

<% case current_user.role %>
<% when 0 %>
	<% if current_user.group_relations.where(status: 1).empty? %>
	    <span style="font-size:20px; font-weight:normal;">You don't
	    have any requests</span>
	<% else %>
		<% current_user.projects.uniq.each do |project| %>
				<%= render 'visitors/requests', project: project %>
		<% end %>
	<% end %>
<% when 1..2 %>
	<% current_user.courses.each do |course|%>
		<%= render 'visitors/professor_alerts', course: course %>
	<%end%>
<% when 3 %>
<% Courses.all.each do |course|%>
	<% course.projects.empty?%>
	<div  class="jumbotron"> <center><%= project.name %></center></h3>	
	</div>
<% end %>
<% end %></div>