<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title"><span class="glyphicons glyphicons-circle-exclamation-mark"></span>&emsp;&emsp;Notifications</h2>
  </div>
 

<% @notifications = false %>
<% case current_user.role %>
<% when 0 %>
 <div class="panel-body">
			<%= render 'visitors/notification_student' %>
<% when 1..3 %>
 <div class="panel-body">
   		<% current_user.courses.each do |course| %>
		<%= render 'visitors/notification_professor', course: course %>
		<% end %> 
	<% if @notifications == false %>
		<p>You don't
	    have any new notifications</p>
	<% end %>
<% end %>

  </div>
</div>