	<% if course.projects.empty?%>
	<div class="content-box"><h3 style="font-size:20px; font-weight:bold;"><center><%= link_to course.course_title, projects_path %></center></h3>
		  <%=  link_to (new_project_path(id: course)), style: "color:#fff; text-align:left; padding:11px;", class: "btn btn-danger" do %><span style="font-weight:bold; font-size:20px;">Alert:</span><br>There is no active project for this course.<br>Students are not able to partner up.<% end %>
	</div>
	<%end%>
