<% if @ucinetid.blank? %>
<%= link_to (request.ip == "127.0.0.1") ? "" : "https://login.uci.edu/" do %>
		<span class="glyphicons glyphicons-log-in"></span> Login
		<% end %>

<% else %>
	<%= form_for(resource, url: user_session_path) do |f| %>
    	<%= f.hidden_field :ucinetid, value: @ucinetid %> 
    	<%= f.submit "Log In", class:"btn btn-primary" %>
	<% end %>
<% end %>