  <tbody>
      <% current_user.groups.each do |f| %>
          <% case @current_user.role %>
          <% when 0 %>
            <tr>
                  <td><%= f.name %></td> 
                  <td class="collapsable"><%= f.ids %></td>  
                    <td><button class="btn btn-primary" style="width:75%;"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<%=  link_to "Add Course", root_path, :style => 'color: #fff; text-size:17px;' %></button></td>
             </tr>
          <% end %>
</tbody>
      <% end %>
      </div>
    </h2>