<% current_user.groups.order(:project_id).uniq.each do |group| %>
<% @is_current_user_confirmed =  %>
	<% if !@is_current_user_confirmed %>
<!-- checking if group's name is nil, make one for them -->
		<div class="content-box" style="border-color:#ccc">
			<div style='text-align:center;margin-top:7px;margin-bottom:3px;'>
				<% current_user.projects.each do |project| %>
					<% if project.partnership_deadline < Date.today%>
						The partnership deadline for <%= project.name %> is coming on <% project.partnership_deadline%>
					<% elsif project.evaluation_deadline < Date.today%>
						The evaluation deadline for <%= project.name %> is coming on <% project.evaluation_deadline%>
					<% end %>
				<% end %>

			</div>
		<hr style="margin-top:7px;margin-bottom:3px;">
		</div>	
	<% end %>
<% end %>