<h4>UCI's premier partnering service. <br><br></h4>

<p style="text-indent:2em; text-align:left;">To use Partnerup, sign in with WebAuth. <br>
<p>Then you can get started finding a partner.<br><br>

<%= render 'layouts/signin_form'%>