<h2>Welcome to Partner UP!</h2>	
<% if user_signed_in? %>
	<% if current_user.role=="user"%>
		<%= render "visitors/statusbox"%>
		<%elsif current_user.role == "1"||"2"%><p>
		There are currently <%= User.count %> registered users </p>
		<%end%>
		<%else%> <%= render "visitors/welcomemsg"%>
<%end%>