<%= link_to '#', class: "info-popover", title: "How to populate class data?", :"data-content" => "<b>hello popover world</b>", :"data-trigger" => 'focus' do %>
	<span class="glyphicons glyphicons-circle-info"></span>
<% end %>

<%= link_to '#', class: "btn btn-lg btn-danger info-popover", title: "How to populate class data?", :"data-content" => "<b>hello popover world</b>" do %>Indissmissable Popup
<% end %>