<%= render 'users/tabnav/find_group'%>
<div><p style="font-size:45px; font-weight:bold;">Find Partner<table class="table" style="width: 95%!important;">
    <!-- Start Table Header -->
   <tr>
      <td class='collapsable'></td>
      <td><b>Student Name</td>
      <td class='collapsable'><b>Email</td></td> 
      <td colspan="2" style="max-width:100px;"><b>Request</td>
   </tr></b>
<!-- End Table Header -->
   <%= render 'users/tableinfo/user_render'%>