<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/vendor/jquery.ui.widget.js"></script>
<script src="js/jquery.iframe-transport.js"></script>
<script src="js/jquery.fileupload.js"></script>
<div class="jumbotron", style="max-width: 500px; margin:auto; padding:20px 20px 0px 20px;">
<%= form_for :roster, :url=>{:controller=>"courses", :action=>"csv_import"}, :html => { :multipart => true } do |f| %>
 <div class="form-group">
  <label for="dump_file">
<div style="font-size:30px; font-weight:bold;">Import WebRoster
  </label>
</div>
 <div class="form-group">
  <div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-group" style="float :left;">
                <span class="input-group-btn">
                    <span class="btn btn-info btn-file">
                      Browse...<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
                    </span>
                </span>
                <input type="text" class="form-control" style= "background-color:white" readonly>
            </div>
        </span>
    </div><div class="form-group" style="text-align:center;float:center; ">
       <button type= "submit" class="btn btn-primary btn-xl" onclick= 'this.form.submit();'><span class="glyphicons glyphicons-upload"></span>Upload CSV File</button>
       </div>
 </div> </div></div>
 <% end %> 