<!-- How many files are selected or file name-->

<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });
});
</script>  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/vendor/jquery.ui.widget.js"></script>
<script src="js/jquery.iframe-transport.js"></script>
<script src="js/jquery.fileupload.js"></script>

<div class="jumbotron", style="max-width: 500px; margin:auto; padding:20px 20px 0px 20px;">
<%= form_for :roster, :url=>{:controller=>"courses", :action=>"csv_import"}, :html => { :multipart => true } do |f| %>
 <div class="form-group">
  <label for="dump_file">
<div style="font-size:30px; font-weight:bold;"><span class="glyphicons glyphicons-disk-import"></span>&emsp;Import WebRoster
  </label>
</div>
 <div class="form-group">
  <div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-group" style="float :left;">
                <span class="input-group-btn">
                    <span class="btn btn-info btn-file">
                      Browse...<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
                    </span>
                </span>
                <input type="text" class="form-control" style= "background-color:white" readonly>
            </div>
        </span>
    </div><div class="form-group" style="text-align:center;float:center; ">
       <button type= "submit" class="btn btn-primary btn-xl" onclick= 'this.form.submit();'><span class="glyphicons glyphicons-upload"></span>Upload CSV File</button>
       </div>
 </div> </div></div>
 <% end %> 

 