<td><%=  link_to "<span class=\"glyphicon glyphicon-plus\"></span>&nbsp;&nbsp;<b>Confirm</b>".html_safe, confirm_user_path(user), class: "btn btn-info btn-md" %></span>
</td>
<td>
	<%=  link_to "<span class=\"glyphicon glyphicon-remove\"></span>&nbsp;&nbsp;<b>Ignore</b>".html_safe, ignore_user_path(user), class: "btn btn-danger btn-md" %></span>
</td>