<td colspan="2" style="max-width:100px;">
  	<%= link_to "<span class=\"glyphicons glyphicons-pencil\"></span>&nbsp;&nbsp;Edit Profile".html_safe, edit_user_registration_path, style: 'max-width:200px; padding:10px;', class: "btn btn-success"  %></td>

