<td colspan="2" style="max-width:100px;">
<button class="btn btn-danger" style="width:100%!important;"><span class=""></span><%=  link_to "Leave", leave_group_path(user), :style => 'color: #fff; ' %></button></td>