<td colspan="2" style="max-width:100px;">
	<%=  link_to "<span class=\"glyphicons glyphicons-share\"></span>&nbsp;&nbsp;Send Request".html_safe, send_request_group_path(user), class: "btn btn-primary btn-md" %></span></td>