<%= render 'layouts/course_select' %>
  <table class="table" style="width: 95%!important;">
<div style="font-size:45px; font-weight:bold;">Find Group
    <!-- Start Table Header --><br>
<div style="max-width:250px;padding-left:0px;float:right;"><button class="btn btn-danger" style="width:100%;"><%=  link_to "Reset Partnerships", clear_partnerships_project_path(@myproject.id), :style => 'color: #fff;width:100%;' %></button></div>
      <td><b>Group Name</td>
      <td class='collapsable'><b>Students</td>
      <td colspan="2" style="max-width:100px;"><b>Request</td></b>
   </tr>
<!-- End Table Header -->
  <%= render 'users/tableinfo/group_render'%> 