	<%= form_for :user, :url => set_current_course_user_path(current_user.id) do |f| %>	
	  <div style="max-width: 450px">
		<%= f.select :current_course, options_from_collection_for_select(current_user.courses, 'id', 'course_title', current_user.current_course), {}, {class: "form-control"} %><br />
		</div>	
	  <%= f.submit 'Select Course', :class => 'btn btn-primary' %>
  <% end %>