<%= link_to("<< Back to List", {:action => 'index'}) %><br>
<div class="authform", style="max-width: 500px; margin:auto;">

	<%= form_for(:project, :url => {:action => 'update', :id => @project.id}) do |f| %>
		<h2>Change Project</h2>
		<%= render(:partial => 'form', :locals => {:f => f}) %>
	<% end %>
</div>