<div class="section-group">
	<div class="span_2_of_3">
			<span class="glyphicons glyphicons-group" style="font-size:25px; font-weight:bold;">&emsp;Groups</span>
				<table class="table" align="center">
			<%= render 'groups/group_render'%>
		</table>
	</div><!-- start group sidebar -->
  <div style="float:left;width:30%">
		<%= render 'layouts/buttons/course_select'%>
		 <% @group = current_user.groups.find_by(project_id: current_user.current_project) %>
		<%= render 'groups/profile', group: @group %>
	</div>
</div>