<div class="section-group">
	<div class="col span_2_of_3">
		<span style="font-size:45px; font-weight:bold;">Find Group</span>
		<table class="table" style="width: 95%!important;">
			<%= render 'groups/group_render'%>
		</table>
	</div><!-- start group sidebar -->
	<div class="col span_1_of_3">
		<%= render 'layouts/buttons/course_select'%>
		<%= render 'groups/profile', group: @group %>
	</div>
</div>