<div class="section-group">
  <div style="float:left;width:70%">
	<span style="font-size:50px; font-weight:bold;"><span class="glyphicons glyphicons-group" style="font-size:60px"></span>&emsp;Groups</span>
<% case current_user.role %>
  <% when 0 %>
    <%= render 'groups/student_find_group' %>
  <% when 1 .. 3 %>
    <%= render'groups/professor_groups' %>
<% end %>