<div class="container">
<div class="row">
<table class="table" style="width:85%;">
</div>
  <% case current_user.role %>
      <% when 0 %>
        <h3>Find a Partner</h3>
       <tr><td></td><td><b>Student Name</td><td><b>Email</td><td><b>Available?</td></td> <td><b>Request</td></tr></b>
      <% when 1 .. 2 %>
        <h3>View Roster</h3>
      <tr><td><b>Student Name</td><td><b>Partner</td></td></tr></b>
      <% when 3 %>
      <h3>Control Panel</h3>
      <tr><td><b>Student Name</td><td><b>Action</td></td> </tr></b>
  <% end %>
      <div class="column" style="width:100%;">
          <tbody>
              <% @users.each do |user| %>
              <tr><%= render user %></tr></div>
              <% end %>
          </tbody>
        </table>
      </div>
     <% if current_user.role == "1"%>
      <%= render "users/vipbuttons"%>
      <% end %>
      </div>
  </div>