<h3>Control Panel</h3>

<% if !current_user.courses.first.blank? %>
	<div style="max-width:500px; float:right;">
	  <%= form_for :user, :url => edit_registration_path(user.id), :html => { :style => 'display:inline;'} do |f|%>
	     <%= f.text :current_course %>
	     <%= f.text :current_course %>
	  <% end %>
	</div>
<% end %>