<div class="panel panel-default">
	<div class="panel-heading"><h4>asdf</h4></div>
	<div class="panel-body">asdf</div>
	<table class="table">
		<th class='collapsable'></th>
		<th style="max-width:100px; text-align: left;"><strong><span class="glyphicons glyphicons-envelope"></span>&emsp;Email</strong></th>
			<% if Project.find(current_user.current_project).group_size > 2 %>
			<th style="text-align: left;" class='collapsable'><strong><span class="glyphicons glyphicons-group"></span>&emsp;Group</strong></th>
			<% else %>
			<th style="text-align: left;" class='collapsable'><strong><span class="glyphicons glyphicons-parents"></span>&emsp;Partner</strong></th>
			<% end %>
			<%@users = Course.find(current_user.current_course).users.order(:last_name)%>
			<% @users.each do |user| %>
			<% @user = User.find(user) %>
			<% if @user.role == 0 %>
			<tr>
				<td><%= link_to "#{@user.first_name} #{@user.last_name}", @user %> </td>
				<td><%= @user.email %></td>
				<td class='collapsable'>
					<%= render 'layouts/buttons/team_select', user: @user%>
				</tr>
				<% end %>
				<% end %>
			</table>
		</div>