<% case current_user.role %>
<% when 0 %>
<% user = local_assigns.user.id %>
  <% if user.courses.collect(&:id).include?(current_user.current_course)%>
    	<% if current_user.id != @user.id && (user.role == 0) %> 
              
              <tr><%= render user %></tr></div>
     
      <% end %>
  <% end %>
<% when 1 .. 2 %>
    <% if user.role== 0 %>
           <tr> <td><%= user.name %></td></tr>
  	<% end %>
<% when 3 %>
    <% if user.role== 0 %> 
           <tr> <td>><%= user.name %></a></td><td><%=  link_to "Confirm Email", confirm_user_path(user), :class=>"smallbluebutton"  %></td><td></td>
  	<% end %>
<% end %>