  <div class="section-group">
    <div class="col span_2_of_3">
      <table class="table" style="width: 95%!important;">
	<span style="font-size:50px; font-weight:bold;"><span class="glyphicons glyphicons-address-book" style="font-size:60px"></span>&ensp;Find
    	<% if Project.find(current_user.current_project).group_size == 2 %>Partner <% else %>Members </span> <% end %></span><br><br>
	<% !@mygroup.nil? ? mygroupsize = @mygroup.group_relations.size : mygroupsize = 0 %>
	<!-- Room in group?-->
	<% allowed_size = Project.find(current_user.current_project).group_size %>
    <% if allowed_size <= mygroupsize %>
	    <% msg ="#{@mygroup.name} is full.  You are allowed <span style= 'font-size: 18px; font-weight:bold;'>#{allowed_size}</span> members. You have <span style= 'font-size: 18px; font-weight:bold;'>#{mygroupsize}.</span>"%>
		 <div class="alert alert-info">
	     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <%= content_tag :div, msg.html_safe, :id => "flash_success" %></div>
  	<% end %>
  	<tr style="background-color:#eee">
      	 <th colspan="2"><b>Name</th>
		      <th class='collapsable'><b>Email</th>
		      <th colspan="2" style="max-width:100px;"><b>
		      	<% if allowed_size <= mygroupsize %> Confirmed? <% else %> Request <% end %></th></b>
		   </tr>
		<!-- Render every user -->
		  <%= render 'users/user_render'%></table>
		</div>
			<!-- group sidebar-->
  	<div class="col span_1_of_3">
  	  <%= render 'layouts/buttons/course_select'%>
  	  <% @group = current_user.groups.find_by(project_id: current_user.current_project) %>
	  <%= render 'groups/profile', group: @group %>
	</div>
</div>