<td><%= user.name %></td>
<td><%= link_to user.email, user %></td>
<% if user.status == "No" %>
<td><%=  link_to user.status_name, flop_user_path(user), :class=>"bluebutton" %></td>
<% else %>
<td>Partnered</td>
<% end %>