<% case current_user.role %>
<% when 0 %>
<div class="section-group">
		<%= render 'users/student_find_members' %>
<% when 1 .. 3 %>
<div class="section-group">
	<%= render'users/professor_enrolled_students' %>
</div>
<% end %>
</table>