<div class="container">
<div class="row">

<% if (current_user.status == true && current_user.partner1.empty?) || (current_user.status == false && !current_user.partner1.empty?)%>
<%= link_to "Find A Partner", clearpartnership_user_path(current_user), :class=>"requestbutton"%>
<%else%>
<%= render "users/tableheader"%>
      <div class="column" style="width:100%;">
        <table class="table" style="width:85%;">
          <tbody>
              <% @users.each do |user| %>
              <tr><%= render user %></tr></div>
              <% end %>
          </tbody>
        </table>
      </div>
      <%= render "users/vipbuttons"%>
      <%end%>    </div>
  </div>