<div class="container">
<div class="row">
<table class="table" style="width:85%;">
</div>
  <%case current_user.role %>
  <%when "user"%>
    <h3>Find a Partner</h3>
   <tr><td><b>Student Name</td><td><b>Email</td><td><b>Available?</td></td> <td><b>Request</td></tr></b>
  <%when "vip"%>
    <h3>View Roster</h3>
  <tr><td><b>Student Name</td><td><b>Partner</td></td></tr></b>
  <%when "admin"%>
  <tr><td><b>Student Name</td><td><b>Partner</td></td> </tr></b>
  <%end%>
      <div class="column" style="width:100%;">
          <tbody>
              <% @users.each do |user| %>
              <tr><%= render user %></tr></div>
              <% end %>
          </tbody>
        </table>
      </div>
      <%= render "users/vipbuttons"%>
        </div>
  </div>