<table class="table" style="width: 95%!important;">
  <% case current_user.role %>
      <% when 0 %>
        <%= render "users/student" %>
      <% when 1 .. 2 %>
        <%= render"users/professor" %>
      <% when 3 %>
     <% end %>
        </table>
     <% if current_user.role == "1"%>
      <%= render "users/vip_buttons"%>
      <% end %>