<div class="container">
  <div class="row">
    <h3>Find a Partner</h3>
    <div class="column" style="width:100%;">
      <table class="table" style="width:100%;">
        <tbody>
            <% @users.each do |user| %>
            <tr><%= render user %></tr>
            <%end%>
             <%= ohshish %>
        </tbody>
      </table>
    </div>
  </div>
</div>
