<%= render 'layouts/course_select'%>
<% case current_user.role %>
  <% when 0 %>
        <%= render 'users/student/find_members' %>
  <% when 1 .. 2 %>
    <%= render'users/professor/enrolled_students' %>
  <% when 3 %>
     <%= render'users/admin/find_members' %>
<% end %>
</table>