<td colspan="2" style="max-width:100px;">
	<%=  link_to "<span class=\"glyphicon glyphicon-plus\"></span>&nbsp;&nbsp;Send Request".html_safe, send_request_user_path(user), class: "btn btn-primary btn-md" %></span></td>