<td colspan="2" style="max-width:100px;">

	<%=  link_to "<span class=\"glyphicon glyphicon-remove\"></span>&nbsp;&nbsp;Undo Request".html_safe, undo_request_user_path(user), class: "btn btn-danger btn-md" %></span>