<div style="max-width:550px;float:right;padding-right:7%;">
  
  <%= link_to("Autogroup", autogroup_project_path(@myproject.id), :class => 'btn btn-info')%><%=  link_to "Reset Partnerships", clear_partnerships_project_path(@myproject.id), :style => 'color: #fff;', :class => 'btn btn-danger' %><%=link_to 'Export Table', export_csv_users_path(current_user), :class=>"btn btn-warning" %></div>