<!-- Modal -->
<div class="modal fade" id="roster-upload">
  <div class="modal-dialog">
    <div class="modal-content" style="width:500px">
      <div class="modal-header">
            <span style="font-size:25px; font-weight:bold;">
      <span class="glyphicons glyphicons-disk-import"></span>&emsp;Import WebRoster
    </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
		<%= render partial: 'roster/roster' %>
      </div>
    </div>
  </div>
</div>


