<!-- Roster Upload Modal -->
<div class="modal fade" id="upload-roster">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a WebRoster from EEE</h4>
      </div>
      <div class="modal-body">
	
				  <%= link_to '#', class: "info-popover", title: "Uploading Multiple Rosters", style: 'float:right', data: { content: "Click 'Browse' and then cmd-click(Mac) or ctrl-click(Windows) on multiple files to upload multiple rosters", trigger: 'hover', delay: {show: 300, hide: 100}} do %>
				  <span class="glyphicons glyphicons-circle-info"></span>
				  <% end %>
				  <%= form_for :roster, url: {controller: "courses", action: "csv_import"}, html: { multipart: true } do |f| %>
				  <div class="form-group">
				    <label for="dump_file" style="font-size:30px; font-weight:bold;">
				      <span class="glyphicons glyphicons-disk-import"></span>&emsp;Import WebRoster
				    </label>
					    <div class="form-group">
					      <div class="fileupload fileupload-new" data-provides="fileupload">
				          <div class="input-group">
				            <span class="input-group-addon btn btn-info btn-file">
				              Browse...
				              <input id="fileupload" type="file" name="files[]" data-toggle="tooltip" data-placement="bottom" multiple>
				            </span>
				              <input type="text" class="form-control" style= "background-color:white" placeholder="Click Browse to Select your CSV files" readonly>
				          </div>
				        </div>
							</div>
					</div>
					
      </div>
      <div class="modal-footer">
          <button type="Upload" id="csvbutton" data-loading-text="Loading..." disabled='disabled' class="btn btn-primary" autocomplete="off">
						<span class="glyphicons glyphicons-upload"></span>Upload CSV File
					</button>
      </div>
			<% end %>
    </div>
  </div>
</div>