<% @empty_courses = current_user.courses %>
<% @empty_courses.each {|course| @empty_courses = @empty_courses.unshift(course) if course.projects.empty?} %>

<div class="panel panel-default" style="float:left;width:50%">
	<%= render 'projects/courseloop', local: @empty_courses%>
</div>
	<div class="hovershow" style="float:right;display:block">
	
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Add a New Project
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Add a New Project</h4>
	      </div>
	      <div class="modal-body">
					<%= form_for :project, url: {action: 'create'}, html: { multipart: true } do |f| %>
						<div style="font-size:45px; font-weight:bold;">Create Project<br></div>
						<br />
						<%= render partial: 'form', locals: {f: f} %>
				
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	       	<%= f.submit("Save Project", id: 'save-project', class: 'btn btn-primary') %>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
	
	</div>  
</div>