<% @empty_courses = current_user.courses %>
<% @empty_courses.each {|course| @empty_courses = @empty_courses.unshift(course) if course.projects.empty?} %>

<div class="panel panel-default" style="float:left;width:50%">
	<%= render 'projects/courseloop', local: @empty_courses%>
</div>
<div class="hovershow" style="float:right;display:block">
	<%=  link_to "<span class=\"glyphicons glyphicons-plus\"></span>&nbsp;&nbsp;Add New Project".html_safe,  {action: 'new', controller: 'projects'}, class: "btn btn-primary", id: "add-new-project", style: "float:right;margin:0px;" %><br><br>
	<div class="hover" style="background-color:whitesmoke; font-weight:bold;padding:10px;border:1px darkgray solid;">
		Adds a New Project
	</div>  
</div>