<% @empty_courses.uniq.each do |course| %>
	<div class="panel-heading"><b><%= course.course_title%></b>
	</div>
	<table class="table">
	<% if course.projects.empty? %>


			<tr style= "background-color:#ED8080; "><td style= "padding:0px;">	<%= link_to '#', class: 'btn btn-danger', style: "color:#fff; text-align:left; width:100%;", data: { toggle: 'modal', target: '#create-project'} do %><b>Alert:</b> There is no active project for this course. Students are not able to partner up. <% end %> </td>



	</tr>
	</table>
	<% else %>
		<%= render "projects/projectloop", course: course %>
		<tr></tr>
	</table>
	<% end %>
<% end %>

