<%= link_to("<< Back to List", {:action => 'index'}) %><br>
<div class="authform", style="max-width: 500px; margin:auto;">

	<%= form_for(:project, :url => {:action => 'update', :id => @project.id}) do |f| %>
		<div style="font-size:45px; font-weight:bold;">Change Project<br><span style="font-size:25px; font-weight:bold;"><%=@project.name%></font></div><br></span>
		<%= render(:partial => 'form', :locals => {:f => f}) %>
	<% end %>
</div>