<span style="font-weight:bold;font-size:25px;"><%= link_to "<span class=\"glyphicons glyphicons-chevron-left\"></span>&nbsp;&nbsp;<b>Back</b>".html_safe, :back, class: "btn btn-default btn-md" %></span><br>
<div class="jumbotron", style="max-width: 500px; margin:auto; padding:50px">

	<%= form_for :project, url: {action: 'update', id: @project.id} do |f| %>
		<div style="font-size:45px; font-weight:bold;">Change Project<br><span style="font-size:25px; font-weight:bold;"><%=@project.name%></font></div><br></span>
		<%= render partial: 'form', locals: {f: f, project: @project} %>
	<% end %>
</div>