<%= link_to("<< Back to List", {:action => 'index'}) %>
<div class="project new">
	<div class="authform", style="max-width: 1000px;">
	<%= form_for(:project, :url => {:action => 'create'}) do |f| %>
		<h2>Create a Project</h2>
		<%= render(:partial => 'form', :locals => {:f => f}) %>
		<%= submit_tag("Create Project", :class => 'btn btn-primary') %>
	<% end %>
	</div>
</div>