<div class="section-group" style="width:100%;">
	<div style="font-size:45px; font-weight:bold;">Students
		<%= render 'layouts/course_select' %>
			<tr>
				<%= render 'users/tableinfo/nameemail'%> <td><strong>Groups</strong></td>
			</tr>
		<% @users.each do |user| %>
		<% @user = user %>
			<% if classmates?(@user, @mycourse) && is_student?(@user) %>
				<tr>
					<%= render 'users/tableinfo/userinfo', user: @user %>
					<td><%= user.groups.all.collect(&:name).to_sentence %></td>
				</tr>
			<% end %>
		<% end %>
	</div>
</div>