<% case @current_user.role %>
<% when 0 %>
        <td><%= course.id %></td>	
				<td class="collapsable"><%= course.course_title %></td>  
				  <td><button class="btn btn-primary" style="width:75%;"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<%=  link_to "Add Course", root_path, :style => 'color: #fff; text-size:17px;' %></button></div></td>
          <td><button class="btn btn-primary"  disabled="disabled" style="width:75%;"><%=  link_to "Currently Enrolled", root_path, :style => 'color: #fff; text-size:17px;' %></button></div></td>
<% end %>