<% case @current_user.role %>
<% when 0..3 %>
	<tr>
	  <td class='collapsable'><%= course.course_code %></td>
	  <td><%= course.course_title %></td>
	  <td class='collapsable' width='30%'>
	    <% projects = course.projects.uniq %>
	    <% projects.each do |project| %>
	    	<span class="glyphicons glyphicons-pushpin" style="font-size:10px;"></span>&ensp;
				<%= link_to project.name, '#', data: { toggle: 'modal', target: '#edit-project'}%>
				<br />				
				<%= render template: 'projects/modals/edit-project', locals: {project: project, course: course} %>
			<% end %>
	  </td>
	</tr>
<% end %>

