<div style="line-height:2; max-width:400px;">
	<%= f.label 'Course Name: ' %>
	<%= f.text_field(:course_title, class: "form-control") %><br/>

	<%= f.submit("Save Course", :class => 'btn btn-primary') %>
</div>