<div style="line-height:2; max-width:400px;">
	<%= f.label 'Course Name: ' %>
	<%= f.text_field(:course_title, class: "form-control") %><br/>

	<button type= "submit" class="btn btn-primary" onclick= 'this.form.submit();'><span class="glyphicons glyphicons-disk-save"></span>Save Changes</button>
</div>