<%= link_to("<< Back to List", {:action => 'index'}) %>
<div class="authform form", style="max-width: 5000px; line-height:3; padding: 1% 1% 1% 1%!important;margin:auto;">


	<%= form_for(:course, :url => {:controller => 'courses', :action => 'destroy', :id => @course.id}) do |f| %>
		<h2>Delete Course</h2>
		<p style="color:red;">Are you sure you want to delete: <strong>"<%= @course.name %>"</strong>?</p>
		<%= f.submit("Delete Course", :class => 'btn btn-danger') %>
		</div>
	<% end %>

</div>