  <h2>Courses</h2>
<table class="table" style="width: 95%!important;">
  <tr>
    <td><b>Course ID</td></td><td class='collapsable'><b>Course Name</td><td class='collapsable'><b>Active Project</td><td></td>
  </tr>

<% case current_user.role%>
<% when 0 %>
<% when 0..3 %>

<table class="table" style="width: 95%!important; display: table;">
          <tbody>
              <% @courses.each do |course| %>
              <tr><%= render course %></tr></div>
              <% end %>
          </tbody>
        </table>
<%end%>