<div style="font-size:45px; font-weight:bold;">Courses
<table class="table" style="width: 95%!important; display: table;">
  <tr>
    <td class='collapsable'><b>Course ID</td><td class='collapsable'><b>Course Name</td><td class='collapsable' colspan ="6" style="width:30%;"><b></td>
  </tr>

<% case current_user.role%>
<% when 0 %>
<% when 0..3 %>


          <tbody>
              <% @courses.each do |course| %>
              <% if course.id !=0%>
              <tr><%= render course %></tr></div>
              <% end %><% end %>
          </tbody>
        </table>
<%end%>