<% if current_user.role !=0 %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">
        <h2><span class="glyphicons glyphicons-education"></span>&emsp;Courses</span><h2></div>
    <div class="panel-body">
      <p>This is a list of your added courses. To add another course,     <%= link_to '', data: { toggle: 'modal', target: '#roster-upload'} , class: "btn btn-default" do %>
      click here
    <% end %></p>
    </div>
  <!-- Table -->
  <table class="table">
    <tr class="info active">
      <th class='collapsable'>Course Code</th>
      <th>Course Name</th>
            <th class='collapsable'>Quarter</th>
      <th><span class="glyphicons glyphicons-pushpin"></span>&ensp;Projects</th>

      <th class='collapsable'></th>
    </tr>
    <% case current_user.role%>
   <% when 1..2 %>
      <% current_user.courses.order(:quarter).each do |course| %>
        <% if course.id != 0 %>
        <tr><% @course = course %>
          <%= render 'courses/course', course: @course %>
        </tr>
      </div>
      <% end %>
    <% end %>
  <% when 3 %>
  <% Course.all.each do |course| %>
    <% if course.id !=0%>
      <tr><%= render 'courses/course', course: @course %></tr>
</div>
<% end %>
<% end %>
<% end %>
</table>
</div>
<% end %>