<% Group.all.each do |group| %>
	 <% @group = group %>
    <tr>
     <td><%= link_to @group.name, @group %></td>

      <td><%member_group_ids(@group).each do |i|%>
    <%@user = User.find(i)%>
    <%= link_to "#{@user.first_name} #{@user.last_name}", @user%>, 
  		<%end%> </td>


    </tr>
<% end %>