<% @users.each do |user| %>
 <% @user = user %>
 <% if classmates?(@user, @mycourse) && !same?(current_user.id, @user.id) && is_student?(user) && (!confirmed?(@user)|| teammates?(@user, current_user) || requester?(@user) == @user || requested?(@user) == @user) %> 
    <tr>


      <td class='collapsable'><%= link_to (image_tag (@user.avatar.url), :style => 'max-width: 45px;'), @user %></td> 
      <td><%= link_to "#{@user.first_name} #{@user.last_name}", @user %> </td>
      <td class='collapsable'><%= @user.email %></td>

<%=render 'users/tableinfo/button_render', user: @user%>


    </tr>
<% end %>
<% end %>