<%= render 'users/tabnav/find_group'%>
<div style="font-size:45px; font-weight:bold;">View Students
    <!-- Start Table Header -->
      <td><b>Group Name</td>
      <td class='collapsable'><b>Students</td>
      <td colspan="2" style="max-width:100px;"><b>Request</td></b>
   </tr>
<!-- End Table Header -->
  <%= render 'users/tableinfo/user_render'%>