	<%= render 'layouts/course_select'%>
<div style="font-size:45px; font-weight:bold;">View Students<table class="table" style="width: 95%!important;">
    <!-- Start Table Header -->
      <td><b>Group Name</td>
      <td class='collapsable'><b>Students</td>
      <td colspan="2" style="max-width:100px;"><b>Request</td></b>
   </tr>
<!-- End Table Header -->
  <%= render 'layouts/tableinfo/user_render'%>