<!-- selecting course that users will add groups to -->
<!-- if the user is signed in and their enrolled in at least one course on roster -->
<% if !current_user.courses.first.blank? %>
<div style="max-width:500px; float:right;">
  <%= form_for :user, :url => set_current_course_user_path(current_user.id), :html => { :style => 'display:inline;', id: 'newForm' } do |f|%>
     <%= f.select :current_course, options_from_collection_for_select(current_user.courses, 'id', 'course_title', current_user.current_course), {}, {class: 'form-control', style: 'display:inline; width:70%;', onchange: 'this.form.submit()' } %>
  <% end %>
</div>
<%end%>
  <!-- END selecting course that users will add groups to -->