

<div style ="text-align:center; float:center; padding:1% 1% 1% 1%;">  
  <a href="mailto:partnerupuci@gmail.com">Report Bugs to patnerupuci@gmail.com</a>
    ||   <%= link_to 'Help', help_index_path %>
</div>
<hr>
</body>
<img width=5% src="/assets/KayHeadLogo.png" id="kaylogo">
